@CHARSET "ISO-8859-1";
body{
  background:url("../images/adminOlympic.jpg") no-repeat;
	background-size:cover;
	background-position: top;
	background-attachment: fixed;
}
h2 {
    font-family: georgia;
     font-style: italic;
  font-size: 30px;
  color:black;
     
}
td,table,h4{
font-variant: small-caps;
color:black;
}
.logout{
float:right;
color:black;	
}
h5{
	color:black;
}
